<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
        <th:block th:fragment="content">
            <h1 class="mt-4">Modify Page</h1>
            <form action="/board/modify" method="post">
                <input type="hidden" name="page" th:value="${requestDTO.page}">
                <input type="hidden" name="type" th:value="${requestDTO.type}">
                <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
                <div class="form-group">
                    <label>Bno:</label>
                    <input type="text" name="bno" class="form-control" th:value="${dto.bno}" readonly>
                </div>
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" name="title" class="form-control" th:value="${dto.title}">
                </div>
                <div class="form-group">
                    <label>Content:</label>
                    <textarea name="content" rows="5" class="form-control">[[${dto.content}]]</textarea>
                </div>
                <div class="form-group">
                    <label>Writer:</label>
                    <input type="text" name="writer" class="form-control" th:value="${dto.writerName}" readonly>
                </div>
                <div class="form-group">
                    <label>RegDate:</label>
                    <input type="text" name="regDate" class="form-control" th:value="${dto.regDate}" readonly>
                </div>
                <div class="form-group">
                    <label>ModifyDate:</label>
                    <input type="text" name="modDate" class="form-control" th:value="${dto.modDate}" readonly>
                </div>
            </form>
                <button type="button" class="btn btn-primary modifyBtn">Modify</button>

                <button type="button" class="btn btn-info form-group listBtn">List</button>

                <button type="button" class="btn btn-danger removeBtn">Remove</button>
        </th:block>
    </th:block>
    <script th:inline="javascript">
        let actionForm = $("form");
        $(".removeBtn").click(function () {
            actionForm.attr("action", "/board/remove")
                .attr("method", "post")
                .submit()
        });

        $(".modifyBtn").click(function () {
            actionForm.attr("action", "/board/modify") // wntjr
                .attr("method", "post")
                .submit()
        });

        $(".listBtn").click(function () {
            var page = $("input[name='page']");
            var type = $("input[name='type']");
            var keyword = $("input[name='keyword']");

            actionForm.empty();

            actionForm.append(page);
            actionForm.append(type);
            actionForm.append(keyword);

            actionForm.attr("action", "/board/list")
                .attr("method", "get")
                .submit()
        });
    </script>
</html>