<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Read Page</h1>

        <div class="form-group">
            <label>Bno:</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
        </div>
        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>
        <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>Writer:</label>
            <input type="text" class="form-control" name="writerName" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label>RegDate:</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>ModifyDate:</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <a th:href="@{/board/modify(bno = ${dto.bno}, page = ${requestDTO.page}, type=${requestDTO.type},
                            keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary form-group">Modify</button>
        </a>
        <a th:href="@{/board/list(page = ${requestDTO.page}, type=${requestDTO.type},
                        keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-info form-group">List</button>
        </a>


        <div class="mt-4">
            <h5>
                <span class="badge result-item text-bg-dark addReply">
                    Add Reply
                </span>
            </h5>
            <h5>
                <span class="badge result-item text-bg-dark replyCount">
                    Reply Count [[${dto.replyCount}]]
                </span>
            </h5>
        </div>
        <div class="list-group result-item replyList">

        </div>
    </th:block>
</th:block>

<!--모달창 구현-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span>&nbsp; &nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="text" name="replyText" placeholder="Input Reply Text...">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="replyer" placeholder="Input Replyer...">
                    <input type="hidden" name="rno">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger replyRemove">Remove</button>
                <button type="button" class="btn btn-info replyRemove">Modify</button>
                <button type="button" class="btn btn-primary replySave">Save</button>
                <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        var bno = [[${dto.bno}]];

        var listGroup = $(".replyList");

        // 날짜형식에 맞춰서 문자열로 반환하는 메소드
        function formatTime(dateStr) {
            var dateObj = new Date(dateStr);
            var result = dateObj.getFullYear() + '/'; // 연도 4자리로 반환해줌
                result += (dateObj.getMonth() + 1) + '/'; // 시작이 0이라서 + 1 수행.
                result += dateObj.getDate() + '/';
                result += dateObj.getHours() + ':';
                result += dateObj.getMinutes();

            return result;
        }

        // 특정 게시글의 댓글 처리함수
        function loadJSONData() {
            $.getJSON('/replies/board/' + bno, function (arr) {
                var htmlStr = "";

                $(".replyCount").html("Reply Count " + arr.length);

                $.each(arr, function (idx, reply) {
                    htmlStr += '<div class="card-body" data-rno="' + reply.rno + '"><b>' + reply.rno + '</b>';
                    htmlStr += '<h5 class="card-title">' + reply.text + '</h5>'
                    htmlStr += '<h6 class="card-subtitle">' + reply.replyer + '</h6>'
                    htmlStr += '<p class="card-text">' + formatTime(reply.regDate) + '</p>'
                    htmlStr += '</div>'

                    listGroup.html(htmlStr);
                })
            })
        }

        $(".replyCount").click(function() {
            $.getJSON('/replies/board/' + bno, function (jsonArr) {
                console.log(jsonArr);

                loadJSONData();
            })
        });

        // 모달창 관련 코드 시작
        var modal = $(".modal");

        $(".addReply").click(function () {
            modal.show();

            $("input[name='replyText']").val('');
            $("input[name='replyer']").val('');

            $(".modal-footer .btn").hide();

            $(".replySave, .replyClose").show();
        });

        // 모달창 닫기
        $(".btn-close, .replyClose").click(function () {
            modal.hide();
        });

        // 댓글 추가 기능 실행
        $(".replySave").click(function () {
            var reply = {bno: bno, text: $('input[name="replyText"]').val(), replyer: $('input[name="replyer"]').val()};
            $.ajax({
                url: '/replies/',
                method: 'post',
                data: JSON.stringify(reply),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    var newRno = parseInt(data);

                    alert(newRno + "번 댓글이 정상 등록되었습니다.");
                    modal.hide();
                    loadJSONData();
                }
            })
        });
    });

</script>
</html>