<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Read Page</h1>

        <div class="form-group">
            <label>Bno:</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
        </div>
        <div class="form-group">
            <label>Title:</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>
        <div class="form-group">
            <label>Content:</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>Writer:</label>
            <input type="text" class="form-control" name="writerName" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label>RegDate:</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>ModifyDate:</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <a th:href="@{/board/modify(bno = ${dto.bno}, page = ${requestDTO.page}, type=${requestDTO.type},
                            keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary form-group">Modify</button>
        </a>
        <a th:href="@{/board/list(page = ${requestDTO.page}, type=${requestDTO.type},
                        keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-info form-group">List</button>
        </a>

        <div class="mt-4">
            <h5>
                <span class="badge result-item text-bg-dark replyCount">
                    Reply Count [[${dto.replyCount}]]
                </span>
            </h5>
        </div>
        <div class="list-group result-item replyList">

        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function () {
        var bno = [[${dto.bno}]];

        var listGroup = $(".replyList");

        $(".replyCount").click(function() {
            $.getJSON('/replies/board/' + bno, function (jsonArr) {
                console.log(jsonArr);
            })
        });
    });

</script>

</html>